root = true

[*]
indent_style = space
end_of_line = crlf
insert_final_newline = true
charset = utf-8

[*.cs]
indent_size = 4
csharp_style_namespace_declarations = file_scoped:suggestion
dotnet_sort_system_directives_first = true

[*.{csproj,props,targets,slnx,yml,json}]
indent_size = 2
